DB_USER=sa
DB_PASSWORD=1A2w3e4F
DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_NAME=ResQ
DB_PORT=50983
JWT_SECRET=8f2a9c1c7b7d4b2f9c1e6a4d0c3b9f1e
CORS_ORIGIN=http://localhost:3000,http://localhost:61197,https://www.resqmento.hu,https://resqmento.hu
PORT=5000


FRONTEND_BASE_URL=http://localhost:5000/
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=panorixhu@gmail.com
SMTP_PASS=oemi sevi mrql anxj
MAIL_FROM=ResQ <panorixhu@gmail.com>
