<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Index root rewrite" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <rule name="Pretty URL rewrite to html" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_\/]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>

        <rule name="Redirect html pages to pretty URL" stopProcessing="true">
          <match url="^(.+)\.html$" />
          <conditions>
            <add input="{R:1}" pattern="^index$" negate="true" />
          </conditions>
          <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
